<html>
    <head>
        <title>agile PlanR: <%= controller.controller_name.capitalize %> <%= controller.action_name.capitalize %></title>
        <%= stylesheet_link_tag "scaffold", :media => "all" %>
    </head>
    <body>
        <div id="banner">
            <!-- img src="/images/logo.png" / -->
            <%= @page_title || "agile PlanR" %>
        </div>
        <div id="columns">
            <div id="side">
                <% if session[:user] -%>
                <%= link_to("Sign out", :controller => "admin", :action => "signout") -%>
                <% else -%>
                <%= link_to("Sign in", :controller => "admin", :action => "signin") -%>
                <% end -%>
                <br />
                <a href="/">Home</a><br />
                <hr />
                <a href="/faq">FAQ</a><br />
                <a href="/help">Help</a><br />
            </div>
        </div>
        <div id="main">
            <% if @flash[:notice] -%>
                <div id="notice">
                    <%= @flash[:notice] %>
                </div>
            <% end -%>
            <%= yield  %>           
        </div>
    </body>
</html>