<h1>Editing user_story</h1>

<%= start_form_tag :action => 'update', :id => @user_story %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<%= end_form_tag %>

<%= link_to 'Show', :action => 'show', :id => @user_story %> |
<%= link_to 'Back', :action => 'list' %>
