<%= error_messages_for 'task' %>

<!--[form:task]-->
<p><label for="task_title">Title</label><br/>
<%= text_field 'task', 'title'  %></p>

<p><label for="task_description">Description</label><br/>
<%= text_field 'task', 'description'  %></p>
<!--[eoform:task]-->

