<% for column in Release.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @release.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @release %> |
<%= link_to 'Back', :action => 'list' %>
